{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row mt-5 textclass justify-content-center rowcontent main-menu">
        <div class="col-10">
            <ol>
                <h3>
                    <li>Press 'Start new game' button to display your abilities.</li>
                <li>Each class has it's unique abilities. The left one damages the enemy and the right one heals you.</li>
                <li>When you press an ability, the enemy deals damage to you.</li>
                <li>Whether you win, lose or give up, the page will refresh and we will generate a new random enemy.</li>
                <li>You can see the combat log under the spells bar.</li>
                </h3>

            </ol>

            </ol>

        </div>

    </div>


{% endblock %}