{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="sub-bg">


        <div class="row text-center mb-5">

            <div class="col-12 textclass">
                <h1>Create a character to start the adventure and write the journey!</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 characters-form postclass rounded border border-danger">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" name="excludeme" class="btn btn-outline-warning btn-lg my-3" value="Create Character">
                </form>
            </div>
        </div>
    </div>

{% endblock %}