{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row" style="color: black; font-family: Arial; background-color: #efefef;">
        <div class="col" style="margin-bottom: 50px">

            {# Spanish #}
            <h1 class="text-center my-5">Español</h1>

            <p>Este sitio fue desarrollado un 90% en Django (Python), Bootstrap (HTML y CSS) y un poco de Vue.js
                para una
                aplicación. No es más que un simple desafío personal con el fin de aprender y a la vez mostrar
                mi
                experiencia y manejo de inglés. La fuente de aprendizaje para crear este blog no es más que internet. No
                hay nadie mas involucrado en la creación de esta página.</p>
            <p>Es una especie de blog personal pero para personajes que el usuario desee crear, con cierta
                variedad de
                opciones libres a elección. A su vez pueden usarse los diferentes personajes creados para jugar
                un mini-juego de
                rol hecho en JavaScript. Si estás en este sitio por primera vez lo más recomdable es recorrerlo en este
                orden: Characters>Journal>Play.</p>
            <p>Soy estudiante de Análisis de Sistemas, cursando segundo año (2019).</p>
            <p>Si estás interesado en mi o mis otros proyectos podes visitar mi <a href="https://github.com/rnbroggi"
                                                                                   target="_blank">GitHub</a>
                o mi
                <a href="https://www.linkedin.com/in/nicol%C3%A1s-broggi-2a4358156/" target="_blank">LinkedIn</a>.
            </p>
            <p>Codigo fuente: <a href="https://github.com/rnbroggi/-NB-Adventure">GitHub</a></p>

            {# English #}
            <h1 class="text-center my-5">English</h1>

            <p>This site was developed 90% in Django Framework (Python), Bootstrap (HTML-CSS) and a little bit of Vue.js
                for one application. It's nothing but a simple personal challenge to learn and show my experience at the
                same time. All knowledge it took me to develop this blog is nothing more than internet. No one else is
                involved in the creation of this site.</p>
            <p>Is a kind of personal blog but for fantasy characters the user can create, with some custom
                options. The characters can also be used to play a rpg mini-game coded in JavaScript. If it's your first
                time in this site, it is recommended you navigate it using this order: Characters>Journal>Play.</p>
            <p>I'm a system analyst student, 2nd year (currently 2019).</p>
            <p>If you are interested in my profile or my other projects you can visit my <a
                    href="https://github.com/rnbroggi" target="_blank">GitHub</a>
                or my
                <a href="https://www.linkedin.com/in/nicol%C3%A1s-broggi-2a4358156/" target="_blank">LinkedIn</a>.
            </p>
            <p>Source code: <a href="https://github.com/rnbroggi/-NB-Adventure">GitHub</a></p>




{% endblock %}
