<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NB Adventure</title>

    {# Tab icon #}
    <link rel="icon" href="{% static 'project_nico/images/n.jpg' %}">

    {# LOAD BOOTSTRAP #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    {# LOAD FONTS AND ICONS #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Almendra" rel="stylesheet">

    {# LOAD CSS FROM STATIC #}
    <link rel="stylesheet" href="{% static 'project_nico/css/master.css' %}">
    <link rel="stylesheet" href="{% static 'project_nico/css/formstyle.css' %}">
    <link rel="stylesheet" href="{% static 'project_nico/css/character_list_style.css' %}">
    <link rel="stylesheet" href="{% static 'project_nico/css/post_list_style.css' %}">
    <link rel="stylesheet" href="{% static 'project_nico/css/poststyle.css' %}">
    <link rel="stylesheet" href="{% static 'project_nico/css/rpgstyle.css' %}">
</head>

<body class="bg">

<div class="container">

    {# Navbar #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom mb-5 ">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'project_nico/images/n.jpg' %}" alt="Brand"
                                                             hight="50px" width="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">


                <a class="nav-item nav-link ml-3" href="{% url 'home' %}">Home </a>

                {% if user.is_authenticated %}

                    {# Items when logged in #}
                    <div class="dropdown characters-class" style="cursor: pointer">
                        <a class="nav-item nav-link ml-3" id="characters-dropdown"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Characters</a>


                        <div class="dropdown-menu" aria-labelledby="characters-dropdown">
                            <a class="dropdown-item" href="{% url 'characters:create' %}">Create new</a>
                            <a class="dropdown-item" href="{% url 'characters:list' %}">My characters</a>
                            <a class="dropdown-item" href="{% url 'journal:entries' %}">My adventures</a>
                        </div>
                    </div>


                    <a class="nav-item nav-link ml-3" href="{% url 'journal:journal' %}">Journal</a>
                    <a class="nav-item nav-link ml-3" href="{% url 'rpg:rpg' %}">Play</a>
                    <a class="nav-item nav-link ml-3" href="{% url 'about' %}">About</a>


                    {# Sign up and Login #}
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">Sing up</a>
                    <a class="nav-item nav-link" href="{% url 'accounts:login' %}">Login</a>
                    <a class="nav-item nav-link" style="margin-left: 650px" href="{% url 'about' %}">About</a>
                {% endif %}


            </div>
        </div>

        {# Profile button #}
        {% if user.is_authenticated %}
            <div class="nav-item nav-link dropdown">
                <button class="btn btn-warning dropdown-toggle btn-lg" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome, {{ user.username }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'profile' %}">My profile</a>
                    <a class="dropdown-item" href="{% url 'journal:entries' %}">My posts</a>
                    <a class="dropdown-item" href="{% url 'rpg:rpg' %}">RPG game</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}?next={% url 'home' %}">Logout</a>
                </div>
            </div>
        {% endif %}

    </nav>

    {# Page body #}
    {% block content %}
    {% endblock %}
</div>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</html>